# Types and Operations

This note introduces the data types and operations for numbers and strings.

## Data Types 

It is obvious that `'hello'` and  `42` represent different things. In Python, every piece of data has a type. You can use the `type` function to find out a data type:

In [1]:
type('hello')

str

In [2]:
type(42)

int

The type of `'hello'` is a `str` and the type of `42` is an `int`. Actually `'42'` and `42` have different types because the first is a `str` and the second is an `int`.

Programming languages use type to reprsent a collection of data that have a certain set of operations. For example, you can concatenant two strings or get a substring of a string. For nubmers, you can perform arithematic operations such as `+`, `-`, `*` and `/` etc.

`str` and `int` are two built-in data types. In real-world applications, thera are more built-in types and custom types such as float, file, image, movie, song and etc. Each type supports different operations. You can write to a file and play a movie.

A variable has a type that is the type of its value.

In [3]:
x = 3.5
type(x)

float

In [4]:
greeting = 'hi'
type(greeting)

str

When you print a variabvle, don't enclose it in quote marks. In the following, `greeting` is a variable name. `'greeting'` is a string literal because it is enclosed by single quote marks.

In [5]:
greeting = 'hi'
print('greeting')  # output 'greeting'
print(greeting) # output 'hi'

greeting
hi

## Dynamic Typing

Python is a **dynamic typing** programming language. The term **dynamic** means that a vriable can be bound to different types of data at different time. In contrast, in static typing programming languages such as Java or C#, a variable can be cound only to one type -- one it is bound, it can only be bound to data of the same type.

In the following example, the variable `strange` first binds to a string, then to an integer.

In [6]:
strange = 'Hello'
strange = 42

Though it is possible to reassign a value of a different tyep to a variable, it is not recommended because it is hard to reason and understand the code.

## Arithematic Operations and Operator Precedence

`int` is one of the three built-in numberic types. The other two types are `float` and `complex`. `int` and `float` are commonly used in business applications and `complex` is mostly used in data science.

There are many arithematic operators for `int` and `float` types. The arithematic operators such as `+` and `-` are actually a special form of functions/operations that use an infix syntax: the operator is placed between two pieces of data called **operands**. The syntax is similar to regular mathematic formulas. 

As in math, you can use multiple operators in an expression. For example:

In [7]:
3 + 5 * 7

38

When you run the above expression, the result is `38`. The reason is that when there are multiple operators, Python will use the location and **operator precedence** to determine the sequence of calculation. It perform computation from left to right unless there is an opertor hagving a high precedence. In the above example, because `*` multiplication operator has higher precedence than the `+` plus operator, it compute the multiplication first. To calculate the plus operation first, you should use a pair of parethese to **group** the operation.

In [8]:
(3 + 5) * 7

56

In this example, parentheses has a higher precedence than the mulitplication. Python first calculates the operation inside parathese and produces a result of `56`. Below is a list for some common operator, sorted from higher precedence to lower precedence.

- operations in parentheses `()`
- Exponential operator `**`
- Multiplication, devision and remainder: `*`, `/`, `//`, `%`
- Addition and subtraction: `+`, `-`.

There are two division opertors: 

- `/` is **floating-point divsion**, also called **true division**. The result of two integers could be a float number.
- `//` is **integer division**, also called **floor division**. The result of two integers is always an integer that is smaller or equal to the division result.

In [9]:
# float-point division or true division
print(4 / 2)
print(5 / 2) 
print(5 / 3)

# integer division or floor division
print(4 // 2)
print(5 // 2) 
print (5 // 3)

2.0
2.5
1.6666666666666667
2
2
1

## Mixed Integer and Float

If you mix integers and floats in an experssion, the result has a float type even the result is an integer. For example sum has a value of `51` and a type of `float`.

In [10]:
sum = 10 * 5.1
type(sum)

float

## String Operations

You can print one or more strings. You can also concatenate multiple strings using the `+` operator. You will see more string operations later.

In [11]:
print('Hello', 'World')

# concatenate three strings
greeting = 'Hello' + ' ' + 'World' 
print(greeting)

Hello World
Hello World

You can multiply a string with an integer to repeat the string several times.

In [12]:
repeated = 'abc' * 3
print(repeated)

abcabcabc

Though `+` and `*` are used in both numeric and string data, they have different meanings in different types. The `-`, `/`, '//' and `**` operators don't support `str` values as its operand. The following code produces a `TypeError`.

In [13]:
'a' - 'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

There are some characters that have special meanings in a string. These characters are called **escape characters**. Each escape character is preceded with a backslash `\`. Following are some samples:

- `\n`: a new line character that causes the output to move to the next line.
- `\t`: a tab character that causes the output to move to the next horizontal tab position.
- `\'`: a single quote mark charcter.
- `\"`: a double quote mark character.
- `\\`: a backslash character.

You can test them with code:

In [ ]:
print('One\nTwo\nThree')
print('One\tTwo\tThree')
print('One\'s money')

It is interesting to compare the following two experssions:

In [ ]:
print(10 + 24)
print('10' + '24')

The first expression add integers of `10` and `24`. The second expression concatenates string `'10'` with string `'24'`.

`print` can take multiple arguments in different types and display the results separated by a space.

In [ ]:
print('Sum is', 3 + 7)